.btn:focus {
	outline: none;
}

.entry{
	padding: 5px;
	margin-bottom: 20px;
}

.loader-pic {
	margin-left: 10px;
}

span.synced {
	color: lime;
}

.teaser{
	cursor: pointer;
}

div.date + h1{
	margin-top: 0px;
}
