.plusbutton{
  border: 2px;
  border-style: dashed;
  border-radius: 5px;
  margin-bottom: 5px;
}

.plusbutton:hover{
  background-color: #e6e6e6;
}

.entry{
  padding-bottom: 10px;
}

.teaser{
  cursor: pointer;
}

div.date + h1{
  margin-top: 0px;
}